body {
    background-image: url("images/Movie-1200-630.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

.réalisateurs {
    color: yellowgreen; 
    font-size: 25px;
}

#Film1, #Film2, #Film3, #Film4 {
    color: white;
    font-size: 15px;
}