body {
    background-image: url("images/Movie-1200-630.jpg");
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
}

.réalisateurs {
    color: yellowgreen;
    font-size: 25px;
}

ul {
    list-style: none;
}

ul.réalisateurs li ol li ul {
    list-style-type: disc;
}

ul.réalisateurs li ol {
    color: white;
    font-size: 15px;
    list-style-type: upper-latin;
}


